{% extends 'data_recorder/base.html' %}

{% block head %}
<title>Quality board</title>
{% endblock head %}


{% block database_form %}
<ul></ul>
<div class="conainer">
<h4>Quality board</h4>
</div>
<br></br>
        {% if submitted %}
            <h4>Data was submitted to the quality board.</h4>

            <p>Access the admin page to see the database record. Log in and click on "posts".</p>
            <br></br>
            <p>Alan:</p>
            <ul>
                <li>Username: Alan</li>
                <li>Password: alan123</li>
            </ul> 
            <br></br>

            <p>Lakshmi:</p>
            <ul>
                <li>Username: Lakshmi</li>
                <li>Password: lakshmi123</li>
            </ul> 

        {% else %} <!--  make the form visible while data has not been submitted -->
            <form action="" method=POST>
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" value="Submit" class ="btn btn-secondary">
            </form>
        {% endif %}
{% endblock database_form %}